<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Scheduler</title>
</head>
<body>
    <h1>Appointment Form</h1><br>
    <form id="appointment-scheduler">
        <label for="fname">First Name
            <span class="err" id="err-fname">
                First Name is Required
            </span>
        </label><br>
        <input type="text" id="fname" name="fname">
        <label for="lname">Last Name
            <span class="err" id="err-lname">
                Last Name is Required
            </span>
        </label><br>

        <input type="text" id="lname" name="lname">
        <label for="date">Date</label><br>
        <input type="date" id="date" name="date">
        <label for="time">Time</label><br>
        <input type="time" id="time" name="time">
        <button type="submit" name="submit">Schedule Appointment</button>
    </form>
</body>
</html>